#d1{
     width: 200px;
     height: 200px;
     background-color: blueviolet;
     font-style: oblique;
     text-align:center;
     font-size: 300%;
     line-height: 4;
     text-shadow: 4px 3px 8px;
     box-shadow: 0px 0px 9px;
     
     
}
#d4{
     width: 100%;
     height: 200px;
     background-color: blueviolet;
}
#d2{
     width: 200px;
     height: 200px;
     background-color: blueviolet; opacity: 0.8;
     font-style: oblique;
     text-align: center;
     font-size: 300%;
     line-height: 4;
}
#d3{
     width: 200px;
     height: 200px;
     background-color: blueviolet; opacity: 0.6;
     font-style: oblique;
     text-align: center;
     font-size: 300%;
     line-height: 4;
}
body{
     background-color: bisque;
}