body{
     background-color:rgba(206, 250, 250, 0.467) ;
}
table{
     border-style: outset;
     border-radius: 10px;
     border-width: 5px;

}
td{
     border-style:groove;
     border-width:10px;
}