.t1{
     padding: 9px;
     margin: 10px;
}
.td{
     padding: 9px;
     border: 1px solid red;
     margin-left: 30px;
     border-radius: 30px;
     box-shadow: 0px 0px 9px;
     border-color: brown ;
     background-color: brown;
     color: rgb(240, 235, 235);
     text-decoration: none;
     

}
.tt{
     padding: 9px;
     margin-left: 30px;
     border: 1px solid white;
     border-radius: 30px;
     box-shadow: 0px 0px 3px ;
     border-color: white;
     color: brown

}
tr th:hover{
     background-color: rgb(74, 74, 84);
     color: beige;
}
     
body{
     background-image: url(tt.webp);
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: 100%;
}
.left{
      border-left: 9px solid;
      padding-left: 16px;
}
a{
     text-decoration: none;
     color: black;
}
a:hover{
     background-color: rgb(75, 71, 71);
     color: bisque;
}
a:active{
     background-color: rgb(66, 66, 193);
}