*{
     margin: 0;
     padding: 0;
}
.container{
     width: 100%;
     height:60px;
     background-color: rgb(48, 50, 58);
     display: flex;
     position: sticky;
     top: 0;
}
.headerright{
     display: flex;
     flex-direction: row;
     width: 56%;
     background-color: white;
     height: 60px;
     position: sticky;
     top: 0;
     list-style-type: none;
}
.list1{
     width:1600px;
     height: 100px;
     font-size: 17px;
     box-sizing: border-box;
     padding-top: 20px;
     list-style-type:none;
     text-align: center;
     position: sticky;
     top: 0   ;
}
#iconfooter{
     font-size: 20px;
     position: relative;
     bottom: 20px;
     left: 10px;
}
.list1:hover{
     background-color:#04AA6D;
     color: white;    
}
.list1:active{
     background-color: #036541;
}
.icon{
     width: 60px;
     height: 60px;
}
#input1page1{
     width:200px;
     height: 40px;
     border-radius: 30px;
     position: relative;
     top: 12px;
     text-align: left;
     padding-left: 13px;
     padding-bottom: 15px;
     font-style: italic;
     border: 1px solid rgb(195, 187, 187);
     font-size:15px;
     margin-left: 10px;
}
#input1page1:hover{
     background-color: white;
}
.headerleft{
     width: 45%;
     height: 60px;
     background-color: white;
     list-style-type:none;
     display: flex;
     direction: rtl;
     position: sticky;
     top: 0    ;
}
.list2{
     padding-right: 20px;
     margin-top: 20px;
     font-size: 19px;
     margin-right: 27px;
}
.headersmall{
     background-color: rgb(48, 50, 58);
     display:flex;
     width: 100%;
     position:sticky;
     top: 60px;
     bottom:60px;
     box-sizing: border-box;
     margin-top: 0;

}
.lii{
     color: white;
     list-style-type:none;
     margin-left: 0;
     box-sizing: border-box;
     padding-top: 15px;
     width: 100px;
     text-align: center;
     height:40px;
     margin-top: 0;
}
.a1{
     text-decoration: none;
     color: white;
}
.lii:hover{
     background-color: black;
}
.spanpage1{
     background-color: #04AA6D;
     width: 100px;
     height:42px;
     border-radius: 30px;
     display:inline-block;
     text-align: center;
     padding-top: 10px;
     box-sizing: border-box;
     margin-bottom: 20px;
     position: relative;
     right:5px;
     color: white;
     bottom: 1px;
     

}
#in{
     width: 160px;
     background-color: #b0e1d0;
     text-align: right;
     border-radius: 30px;
     position: relative;
     bottom: 1px;
     height: 27px;
     box-sizing:;
     padding-top: 1px;
     padding-bottom: 15px;
}
#in:hover{
     background-color: #0f8b5e ;
}
.list2{
     width: 110px;
     margin-bottom: 10px;
     margin-top: 10px;
     padding-top:  8px;
     height;
     border-radius: 30px;
     text-align: center;
}
.list2:hover{
     background-color: rgb(198, 199, 201);
}
.mainpage1{
     width:100% ;
     height:650px ;
     background-color:  rgb(48, 50, 58);
     text-align: center;
     box-sizing: border-box;
}
#h1psge1{
     font-size: 65px;
     padding-top: 110px;
     color: white;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#paragraphpag1{
     font-size: 25px;
     color: rgb(250, 225, 166);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     padding-top: 10px;
}
#inputpage1{
     width: 500px;
     box-sizing: border-box;
     height: 50px;
     position: static;
     margin-top: 30px;
     border-radius: 30px;
     padding-left: 20px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size:15px;
}
#paraghraph2pag1{
     padding-top:60px;
     font-size: 25px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: white;
     text-decoration: underline;
}
#paraghraph2pag1:hover{
     color: rgb(250, 225, 166);
}

.page2{
     width: 100%;
     height:700px ;
     background-color: rgb(176, 250, 250);
     box-sizing: border-box;
     display: flex;
}
.page2left{
     width: 50%;
     height: 580px;
     background-color:rgb(176, 250, 250) ;
     text-align: center;
     display: flex;
     flex-direction: column;
}
.titlepage2{
     font-size: 80px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     padding-top:170px;
}
.paragraphpage2{
     font-size: 20px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-style: unset;
}
.box1pahe2{
     width: 200px;
     height: 40px;
     background-color: #04AA6D;
     border-radius: 30px;
     margin: auto;
     box-sizing: border-box;
     padding-top: 8px;
     font-size: 18px;
     color: white;
     margin-top: 15px;
}
.box1pahe2:hover{
     background-color: #0f8b5e;
}
.box2page2{
     width: 200px;
     height: 40px;
     background-color: rgb(239, 228, 150);
     border-radius: 30px;
     box-sizing: border-box;
     padding-top: 10px;
     font-size: 18px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin: auto;
     margin-top:px;
}
.box2page2:hover{
     background-color: rgb(211, 201, 125) ;
}
.box3page2{
     width: 200px;
     height: 40px;
     background-color: rgb(49, 49, 69);
     border-radius: 30px;
     box-sizing: border-box;
     padding-top: 10px;
     font-size: 18px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin: auto;
     margin-top: 15px;
     color: white;
}
.box3page2:hover{
     background-color: black;
}
.box4page2{
     width: 200px;
     height: 40px;
     background-color:rgb(243, 157, 172);
     border-radius: 30px;
     box-sizing: border-box;
     padding-top: 10px;
     font-size: 18px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin: auto;
     margin-top: px;
     color:black;
}
.box4page2:hover{
     background-color: rgb(232, 97, 119);
}
.boxshadow{
     width: 400px;
     height:420px;
     box-shadow: 0 0 10px  lightslategray;
     margin-top: 50px;
     margin-left: 70px;
}
.page2right{
     width: 50%;
     display:flex;
     height: 700px;
     background-color: rgb(176, 250, 250);
     box-sizing: content-box;
     display: flex;
     flex-direction: column;
     justify-content: center;
     justify-items: center;
}
.headermain2{
     width: 400px;
     height: 60px;
     background-color: lightgray;
     box-sizing: border-box;
     padding-top: 10px;
     padding-left: 15px;
     font-size:14px;

}
.mainmain2{
     width: 400px;
     height:300px;
     background-color:lightgray;
     justify-content: center;
     display: flex;

}
.main22{
     width: 4px;
     height: 300px;
     background-color: #036541;
}
.main2{
     width: 360px;
     height: 300px;
     background-color: white;
     padding-left: 10px;
}
.footermain2{
     width: 400px;
     height: 60px;
     background-color: lightgrey;
     text-align: center;
     box-sizing: border-box;
     display: flex;
     justify-items: center;

}
.pfootermain2{
     display: flex;
     width: 200px;
     height: 40px;
     background-color:#04AA6D;
     border-radius: 30px;
     box-sizing: border-box;
     text-align: center;
     color:white;
     padding-left:35px;
     padding-top: 7px;
     margin-top: 10px;
     margin-left: 10px;
}
.pfootermain2:hover{
     background-color: #036541;
}
.page3{
     width: 100%;
     height: 700px;
     background-color: rgb(243, 215, 123);
}
.page3{
     width: 100%;
     height:700px ;
     background-color: rgb(243, 215, 123);
     box-sizing: border-box;
     display: flex;
}
.page3left{
     width: 50%;
     height: 500px;
     background-color: rgb(243, 215, 123) ;
     text-align: center;
     display: flex;
     flex-direction: column;
}
.titlepage3{
     font-size:80px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     padding-top:170px;
}
.paragraphpage3{
     font-size: 20px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-style: unset;
}
.box1pahe3{
     width: 200px;
     height: 40px;
     background-color: #04AA6D;
     border-radius: 30px;
     margin: auto;
     box-sizing: border-box;
     padding-top: 8px;
     font-size: 18px;
     color: white;
     margin-top: 15px;
}
.box1pahe3:hover{
     background-color: #0f8b5e;
}
.box3page3{
     width: 200px;
     height: 40px;
     background-color: rgb(49, 49, 69);
     border-radius: 30px;
     box-sizing: border-box;
     padding-top: 10px;
     font-size: 18px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin: auto;
     margin-top: 15px;
     color: white;
}
.box3page3:hover{
     background-color: black;
}
.box4page3{
     width: 200px;
     height: 40px;
     background-color:rgb(243, 157, 172);
     border-radius: 30px;
     box-sizing: border-box;
     padding-top: 10px;
     font-size: 18px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin: auto;
     margin-top: px;
     color:black;
}
.box4page3:hover{
     background-color: rgb(232, 97, 119);
}
.boxshadow3{
     width: 400px;
     height:420px;
     box-shadow: 0 0 10px  lightslategray;
     margin-top: 50px;
     margin-left: 70px;
}
.page3right{
     width: 50%;
     display:flex;
     height: 700px;
     background-color: rgb(243, 215, 123);
     box-sizing: content-box;
     display: flex;
     flex-direction: column;
     justify-content: center;
     justify-items: center;
}
.headermain3{
     width: 400px;
     height: 60px;
     background-color: lightgray;
     box-sizing: border-box;
     padding-top: 10px;
     padding-left: 15px;
     font-size:14px;

}
.mainmain3{
     width: 400px;
     height:300px;
     background-color:lightgray;
     justify-content: center;
     display: flex;

}
.main23{
     width: 4px;
     height: 300px;
     background-color: #036541;
}
.main3{
     width: 360px;
     height: 300px;
     background-color: white;
     padding-left: 10px;
}
.footermain3{
     width: 400px;
     height: 60px;
     background-color: lightgrey;
     text-align: center;
     box-sizing: border-box;
     display: flex;
     justify-items: center;

}
.pfootermain3{
     display: flex;
     width: 200px;
     height: 40px;
     background-color:#04AA6D;
     border-radius: 30px;
     box-sizing: border-box;
     text-align: center;
     color:white;
     padding-left:35px;
     padding-top: 7px;
     margin-top: 10px;
     margin-left: 10px;
}
.pfootermain2:hover{
     background-color: #036541;
}
.page3{
     width: 100%;
     height: 700px;
     background-color:rgb(243, 215, 123);
}

.page4{
     width: 100%;
     height: 700px;
     background-color: rgb(40, 48, 67);
}
.page4{
     width: 100%;
     height:700px ;
     background-color: rgb(48, 50, 58);
     box-sizing: border-box;
     display: flex;
}
.page4left{
     width: 50%;
     height: 500px;
     background-color: rgb(48, 50, 58) ;
     text-align: center;
     display: flex;
     flex-direction: column;
}
.titlepage4{
     font-size: 65px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     padding-top:170px;
     color: white;
}
.paragraphpage4{
     font-size: 20px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-style: unset;
     color: white;
}
.box1pahe4{
     width: 200px;
     height: 40px;
     background-color: #04AA6D;
     border-radius: 30px;
     margin: auto;
     box-sizing: border-box;
     padding-top: 8px;
     font-size: 18px;
     color: white;
     margin-top: 15px;
}
.box1pahe4:hover{
     background-color: #0f8b5e;
}
.box3page4{
     width: 200px;
     height: 40px;
     background-color: beige;
     border-radius: 30px;
     box-sizing: border-box;
     padding-top: 10px;
     font-size: 18px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin: auto;
     margin-top: 15px;
     color:black;
}
.box3page4:hover{
     background-color:  rgb(238, 238, 151);
}
.box4page4{
     width: 200px;
     height: 40px;
     background-color:rgb(243, 157, 172);
     border-radius: 30px;
     box-sizing: border-box;
     padding-top: 10px;
     font-size: 18px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin: auto;
     margin-top: px;
     color:black;
}
.box4page4:hover{
     background-color: rgb(232, 97, 119);
}
.boxshadow4{
     width: 400px;
     height:420px;
     box-shadow: 0 0 10px  rgb(41, 42, 43);
     margin-top: 50px;
     margin-left: 70px;
}
.page4right{
     width: 50%;
     display:flex;
     height: 700px;
     background-color: rgb(48, 50, 58);
     box-sizing: content-box;
     display: flex;
     flex-direction: column;
     justify-content: center;
     justify-items: center;
}
.headermain4{
     width: 400px;
     height: 60px;
     background-color: lightgray;
     box-sizing: border-box;
     padding-top: 10px;
     padding-left: 15px;
     font-size:14px;

}
.mainmain4{
     width: 400px;
     height:300px;
     background-color:lightgray;
     justify-content: center;
     display: flex;

}
.main24{
     width: 4px;
     height: 300px;
     background-color: #036541;
}
.main4{
     width: 360px;
     height: 300px;
     background-color: white;
     padding-left: 10px;
}
.footermain4{
     width: 400px;
     height: 60px;
     background-color: lightgrey;
     text-align: center;
     box-sizing: border-box;
     display: flex;
     justify-items: center;

}
.pfootermain4{
     display: flex;
     width: 200px;
     height: 40px;
     background-color:#04AA6D;
     border-radius: 30px;
     box-sizing: border-box;
     text-align: center;
     color:white;
     padding-left:35px;
     padding-top: 7px;
     margin-top: 10px;
     margin-left: 10px;
}
.pfootermain4:hover{
     background-color: #036541;
}
.page4{
     width: 100%;
     height: 700px;
     background-color:rgb(48, 50, 58);
}
.page5{
     width: 100%;
     height: 700px;
     background-color: rgb(231, 195, 218);
}
