p{
     font-size: 50px;
     width: 200px;
     height: 200px;
     background-color: black;
     color: blanchedalmond;
     padding-top: 120px;
     text-align: center;
     border-radius: 30px;
     
}
p:hover{
     background-color: rgb(7, 50, 87);
     color: black;
     font-size: 70px;

}